<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.notice.mapper.BoardMapper">
    <select id="boardList" resultType="Board">
        select *
        from board
        where corp_id = #{corp_id}
    </select>
</mapper>